#menu { /*caixa para botoes 8FBC8F*/
    background: #8FBC8F; 
    float: left;

    /*largura e altura minina do conteiner dos botoes*/
    width: 210px;
    min-height: 500px;

    /*largura da borda do conteiner*/
    border-width: 2px;	
    border-style: solid; 
    border-color: #1C1C1C;	
    border:#000000;
    border: 2px solid #2E8B57;
    margin: 6px 0px 7px 6px;   

    
    z-index: 200;

}

#divmenuv {
    width:200px;
    min-height: 125px;
    border: 2px solid green;
    margin-top: 20px;
    margin-left: 2px;
    margin-bottom:20px ;
}

#divmenuv2 {
    width:200px;
    min-height: 82px;
    border: 2px solid green;
    margin-top: 20px;
    margin-left: 2px;
    margin-bottom:20px ;
}

#divmenuv3 {
    width:200px;
    min-height: 121px;
    border: 2px solid green;
    margin-top: 20px;
    margin-left: 2px;
    margin-bottom:20px ;
}

#divmenuvempresa {
    width:200px;
    min-height: 41px;
    border: 2px solid green;
    margin-top: 20px;
    margin-left: 2px;
    margin-bottom:20px ;
}
#menuv {
	background: #E6E6FA;	
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width:150px;
    
}

#menuv li {
    width: 200px;
	font: 100% arial, hevetica, sans-serif;
	margin: 0;
	padding: 0;
}
#menuv a {
	background: #E6E6FA;
	border-bottom: 2px solid #393939;
	color: #000;
	display: block;
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
}
#menuv a:hover {
	background: #98FB98; /*url("images/hover.gif") left center no-repeat*/
	color: #708090;
	padding-bottom: 8px;
	font-weight:bold;
}


