@charset "utf-8";
/* CSS Document */

@import url("reset.css");



#thispag {
	margin: 0;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 13px;
	line-height: 20px;
	color: #5F5E59;
	
} 



a:link{ text-decoration: none; color: #333;}
a:visited{ text-decoration: none;  color: #333; }
a:hover{ text-decoration: none;  color: #333;}

ul,ol { list-style:none }
p, h1, form, button{
	border:0; 
	margin:0; 
	padding:0;
}
/*ID'S*/
#news{/*caixa principal*/
	margin: 0 auto;
	background:  #B3FF66;
	width: 330px;
	min-height: 500px;
	display: table;
	border: 1px solid #9cfb70;
	-webkit-box-shadow: 1px 1px 2px #999;
	-box-box-shadow: 1px 1px 2px #999;
	-khtml-box-shadow: 1px 1px 2px #999;
	box-shadow: 1px 1px 2px #4999;
}
#carregando{
	float: left;
	background: #B3FF66;
	text-align: center; 
	font-weight: bold; 
	padding: 10px; 
	margin:0 auto;
	width: 250px;
	height: 15px; 
}
#erro{ 
	display: block;
	clear: both;
	border: 1px solid #D00;
	background: #F00; 
	color: #fff; 
	text-align: center; 
	font-weight: bold; 
	padding: 10px; 
	margin:0 auto; 
	height: 15px; 
}
#manchetes{
	clear: both;
	border-top: 1px solid #9cfb70;
}
#manchetes li{
	clear:both;
	display: inline-table;
}
/*classes*/
.float-right{ float: right;}
.highlight li{
	background: #d6fec2 !important;
}
.resumo{
	float: right;
	width: 270px !important;
}
.titulo{
	float: right;
	width: 270px !important;
}
.titulo h1{
	font-size: 12px;
	font-weight: bold;
}
.resumo, .titulo,{
	color: #666;
}
/*celula da lista*/
.par{ 
	background: #e1fed3; 
	padding: 5px; 
	border-bottom: 1px solid #cafdb2; 
	height: 50px;
}
.impar{ 
	background: #cafdb2; 
	padding: 5px; 
	border-top: 1px solid #f8fff4;
	height: 50px;
}
/*link para listar todos*/
.ver-todos{
	clear: both;
	display: block;
	text-align: right;
	font-size: 12px;
	padding: 5px;
	font-weight: bold;
	border-top: 1px solid #9cfb70;
}
/*auxiliares*/
.spacer3{
	clear: both;
	height: 30px;
}
.spacer{
	clear: both; 
	height:1px;
}
.spacer2{
	clear: both; 
	height:20px;
}
/* ----------- My Form ----------- */
.myform{
	margin:0 auto;
	width: 600px;
	padding:14px;
}
.icon{
	float: right;
	width: 16px;
	height: 11px;
	margin: 10px 10px 1px 1px;
}
/* ----------- stylized ----------- */
#stylized, #stylized2{
	border: solid 2px #70DF00;
	background: #B3FF88;
	min-height: 300px;
	display: table;
}

#stylized h1, #stylized2 h1 {
    font-size: 14px;
    font-weight: bold;
	margin-bottom: 8px;
}
#stylized p, #stylized2 p{
	font-size: 11px;
	color: #666666;
	margin-bottom: 20px;
	border-bottom: solid 1px #b7ddf2;
	padding-bottom: 10px;
}
#stylized label{
	display: block;
	font-weight: bold;
	text-align: right;
	width: 140px;
	float: left;
}
#stylized .small{
	color: #F00;
	display: block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:140px;
}
#stylized .small2{
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:140px;
}
#stylized input{
	float:left;
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	width: 400px;
	margin:2px 0 20px 10px;
}
#stylized textarea{
	float:left;
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	width: 400px;
	margin: 2px 0 20px 10px;
}
#stylized button{
	clear:both;
	margin-left:150px;
	width:125px;
	height:31px;
	background:#666666 url(img/button.png) no-repeat;
	text-align:center;
	line-height:31px;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
}
/*carregando em news*/
.carregando{
	margin: 0 auto;
	width: 600px;
	height: 100px;
	background: #EBF4FB;
	border: solid 2px #b7ddf2;
	padding: 10px;
	text-align: center;
}
.msg{
	margin: 0 auto;
	width: 600px;
	background: #6C3;
	border: 2px solid #390;
	padding: 15px;
	text-align: center;
}
#env{
	clear:both;
	margin-left:150px;
	width:125px;
	height:31px;
	background:#666666 url(img/button.png) no-repeat;
	text-align:center;
	line-height:31px;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
	border: 0px;
	margin:0; 
	padding:0;
}
#stylized2 li{
	border-bottom: 1px #ddd solid;
	padding: 10px 0;
}/**fim da pagina inicial/
/*noticias*/
.box-news{
	margin: 0 auto;
	width: 300px;
	height: 350px;
	padding:14px;
}
/*data*/
.data{/*caledariozimmmm*/
	background: #fff;
	float: left;
	font-size: 10px;
	height: 46px;
	width: 35px;
	color: #555;
	border-top: 4px solid #349b04;
	margin-right: 5px;
	padding: 2px;
	-webkit-box-shadow: 1px 1px 2px #999;
	-box-box-shadow: 1px 1px 2px #999;
	-khtml-box-shadow: 1px 1px 2px #999;
	box-shadow: 1px 1px 2px #4b8297;
}
.dia, .mes{
	text-align: center;
	display: block;
	width: 30px;
	margin: auto;
}
.dia{
	font-size: 20px;
	font-weight: bold;
}
.mes{
	font-size: 16px;
}